<?xml version="1.0"?>
<robot name="myrobot">
<link name="base_link">
  <visual>
    <geometry>
      <UNKNOWN_ssBox />
      <material> <color rgba="[]" /> </material>
    </geometry>
  <inertial>  <mass value="1"/>  </inertial>
  </visual>
  <visual>
    <geometry>
      <UNKNOWN_camera />
      <material> <color rgba="[0.8, 0.8, 0.8]" /> </material>
    </geometry>
  <inertial>  <mass value="1"/>  </inertial>
  </visual>
</link>
</robot>